html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  color: black;
}

body hr {
  width: 100px;
  height: 1px;
  border-radius: 100px;
  border-color: #000000;
  background-color: #000000;
}

body .wrapper {
  width: 99%;
  margin: auto;
  background: #ffffff;
}

body .wrapper .header {
  width: 100%;
  height: 80px;
  background: #d9e0e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .header .logo-wrapper {
  width: 30%;
  height: 50px;
  background: transparent;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  body .wrapper .header .logo-wrapper {
    width: 100%;
  }
}

body .wrapper .header .logo-wrapper .logo {
  width: 160px;
  height: 50px;
  background: #a9aeb3;
}

body .wrapper .header .menu {
  width: 70%;
  height: 100%;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  body .wrapper .header .menu {
    display: none;
  }
}

body .wrapper .header .menu .nav-header-menu {
  width: 80%;
  height: 100%;
}

@media (max-width: 700px) {
  body .wrapper .header .menu .nav-header-menu {
    display: none;
  }
}

body .wrapper .header .menu .nav-header-menu .ul-header-menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .wrapper .header .menu .nav-header-menu .ul-header-menu .li-header-menu {
  height: 100%;
  width: 25%;
  font-size: 11px;
  list-style-type: none;
}

body .wrapper .header .menu .nav-header-menu .ul-header-menu .li-header-menu .anchor-header-menu {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
  font-size: 14px;
  color: black;
}

body .wrapper .header .menu .nav-header-menu .ul-header-menu .li-header-menu .anchor-header-menu:hover {
  background: #a9aeb3;
}

body .wrapper .beside-menu-image {
  width: 100%;
  height: 400px;
  background: #a9aeb3;
  text-align: center;
}

body .wrapper .beside-menu-image .main-text {
  width: 100%;
  padding: 46px 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}

@media (max-width: 570px) {
  body .wrapper .beside-menu-image .main-text {
    font-size: 24px;
    width: 80%;
    margin: auto;
    padding: 46px 10px 15px;
  }
}

body .wrapper .beside-menu-image .hr-border-line {
  width: 100%;
}

body .wrapper .beside-menu-image .quote-text-div {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 570px) {
  body .wrapper .beside-menu-image .quote-text-div {
    font-size: 13px;
  }
}

body .wrapper .beside-menu-image .author-of-the-quote-div {
  padding: 20px 0 40px;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 570px) {
  body .wrapper .beside-menu-image .author-of-the-quote-div {
    font-size: 15px;
  }
}

body .wrapper .beside-menu-image button {
  width: 140px;
  height: 40px;
  background: #484b4d;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

body .wrapper .beside-menu-image button:hover {
  background: #d9e0e6;
  color: #000000;
}

body .wrapper .div-preview-product {
  width: 100%;
}

body .wrapper .div-preview-product h1 {
  padding-top: 46px;
  position: relative;
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
}

body .wrapper .div-preview-product h1:after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 3px;
  background: #000000;
  left: calc(50% - 50px);
  border-radius: 20px;
}

body .wrapper .div-preview-product .types-of-products-div {
  width: 70%;
  margin: auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #ffffff;
}

@media (max-width: 700px) {
  body .wrapper .div-preview-product .types-of-products-div {
    width: 90%;
  }
}

@media (max-width: 570px) {
  body .wrapper .div-preview-product .types-of-products-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .wrapper .div-preview-product .types-of-products-div .ride-bike-div {
  width: 30%;
  height: 320px;
}

@media (max-width: 570px) {
  body .wrapper .div-preview-product .types-of-products-div .ride-bike-div {
    width: 90%;
  }
}

body .wrapper .div-preview-product .types-of-products-div .ride-bike-div .ride-bike-image {
  width: 100%;
  height: 200px;
  background: url("image/bike.jpg") top center;
  background-size: cover;
}

body .wrapper .div-preview-product .types-of-products-div .ride-bike-div .ride-bike-description {
  width: 100%;
  height: 120px;
  background: #a9aeb3;
}

body .wrapper .div-preview-product .types-of-products-div .ride-bike-div .ride-bike-description section {
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 570px) {
  body .wrapper .div-preview-product .types-of-products-div .ride-bike-sport-bike-middle-div {
    height: 40px;
  }
}

body .wrapper .div-preview-product .types-of-products-div .sport-bike-div {
  width: 30%;
  height: 320px;
  background: green;
}

@media (max-width: 570px) {
  body .wrapper .div-preview-product .types-of-products-div .sport-bike-div {
    width: 90%;
  }
}

body .wrapper .div-preview-product .types-of-products-div .sport-bike-div .sport-bike-image {
  width: 100%;
  height: 200px;
  background: #d9e0e6;
}

body .wrapper .div-preview-product .types-of-products-div .sport-bike-div .sport-bike-description {
  width: 100%;
  height: 120px;
  background: #a9aeb3;
}

body .wrapper .div-preview-product .types-of-products-div .sport-bike-div .sport-bike-description section {
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 570px) {
  body .wrapper .div-preview-product .types-of-products-div .sport-bike-retro-bike-middle-div {
    height: 40px;
  }
}

body .wrapper .div-preview-product .types-of-products-div .retro-bike-div {
  width: 30%;
  height: 320px;
  background: red;
}

@media (max-width: 570px) {
  body .wrapper .div-preview-product .types-of-products-div .retro-bike-div {
    width: 90%;
  }
}

body .wrapper .div-preview-product .types-of-products-div .retro-bike-div .retro-bike-image {
  width: 100%;
  height: 200px;
  background: #d9e0e6;
}

body .wrapper .div-preview-product .types-of-products-div .retro-bike-div .retro-bike-description {
  width: 100%;
  height: 120px;
  background: #a9aeb3;
}

body .wrapper .div-preview-product .types-of-products-div .retro-bike-div .retro-bike-description section {
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

body .wrapper .div-preview-product .text-button-final-products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .div-preview-product .text-button-final-products .text-call-to-button {
  padding: 46px 0 36px;
  font-size: 18px;
  text-align: center;
}

body .wrapper .div-preview-product .text-button-final-products .button-itself {
  padding-bottom: 60px;
}

body .wrapper .div-preview-product .text-button-final-products .button-itself button {
  width: 140px;
  height: 40px;
  background: #484b4d;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

body .wrapper .div-preview-product .text-button-final-products .button-itself button:hover {
  background: #d9e0e6;
  color: #000000;
}

body .wrapper .div-portfolio {
  width: 100%;
  height: 950px;
  background: #d9e0e6;
  text-align: center;
}

@media (max-width: 700px) {
  body .wrapper .div-portfolio {
    height: 850px;
  }
}

body .wrapper .div-portfolio h1 {
  padding-top: 46px;
  position: relative;
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
}

body .wrapper .div-portfolio h1:after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 3px;
  background: #000000;
  left: calc(50% - 50px);
  border-radius: 20px;
}

body .wrapper .div-portfolio .two-divs-side-by-side {
  margin: auto;
  width: 70%;
  height: 30%;
  padding: 46px 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  body .wrapper .div-portfolio .two-divs-side-by-side {
    width: 95%;
    height: 20%;
  }
}

body .wrapper .div-portfolio .two-divs-side-by-side .left-div {
  width: 45%;
  height: 100%;
  background: #A9AEB3;
}

body .wrapper .div-portfolio .two-divs-side-by-side .right-div {
  width: 45%;
  height: 100%;
  background: #A9AEB3;
}

body .wrapper .div-portfolio .under-two-divs {
  margin: auto;
  width: 67%;
  height: 250px;
  background: #A9AEB3;
}

@media (max-width: 700px) {
  body .wrapper .div-portfolio .under-two-divs {
    width: 92%;
  }
}

body .wrapper .div-portfolio .text-button-final-portfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .div-portfolio .text-button-final-portfolio .text-call-to-button {
  padding: 46px 0 36px;
  font-size: 18px;
}

body .wrapper .div-portfolio .text-button-final-portfolio .button-itself {
  padding-bottom: 60px;
}

body .wrapper .div-portfolio .text-button-final-portfolio .button-itself button {
  width: 140px;
  height: 40px;
  background: #484b4d;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

body .wrapper .div-portfolio .text-button-final-portfolio .button-itself button:hover {
  background: #A9AEB3;
  color: #000000;
}

body .wrapper .div-quality {
  width: 100%;
  background: #ffffff;
  position: relative;
}

body .wrapper .div-quality h1 {
  padding-top: 46px;
  position: relative;
  margin-bottom: 120px;
  font-size: 24px;
  text-align: center;
}

body .wrapper .div-quality h1:after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 3px;
  background: #000000;
  left: calc(50% - 50px);
  border-radius: 20px;
}

body .wrapper .div-quality .container-div {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .div-quality .container-div .first-bellow-box {
  width: 38%;
  height: 100px;
  border-top: 2px solid #D9E0E6;
  border-left: 2px solid #D9E0E6;
  border-right: 2px solid #D9E0E6;
}

body .wrapper .div-quality .container-div .float-box {
  width: 40%;
  height: 100px;
  background: #AEB6BF;
  position: absolute;
  top: 150px;
}

body .wrapper .div-quality .container-div .second-bellow-box {
  width: 38%;
  height: 100px;
  border-top: 2px solid #D9E0E6;
  border-right: 2px solid #D9E0E6;
}

body .wrapper .div-quality .under-container-text-div {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .div-quality .under-container-text-div .durability-text {
  width: 31%;
  text-align: center;
}

body .wrapper .div-quality .under-container-text-div .durability-text h1 {
  padding-top: 20px;
  position: relative;
  margin-bottom: 30px;
  font-size: 11px;
}

body .wrapper .div-quality .under-container-text-div .durability-text h1:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 32px;
  height: 2px;
  background: #000000;
  left: calc(50% - 16px);
  border-radius: 20px;
}

body .wrapper .div-quality .under-container-text-div .durability-text .durability-text-div {
  padding: 0 40px;
  font-size: 14px;
}

@media (max-width: 750px) {
  body .wrapper .div-quality .under-container-text-div .durability-text .durability-text-div {
    display: none;
  }
}

body .wrapper .div-quality .under-container-text-div .design-text {
  width: 35%;
  text-align: center;
}

body .wrapper .div-quality .under-container-text-div .design-text h1 {
  padding-top: 20px;
  position: relative;
  margin-bottom: 30px;
  font-size: 11px;
}

body .wrapper .div-quality .under-container-text-div .design-text h1:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 32px;
  height: 2px;
  background: #000000;
  left: calc(50% - 16px);
  border-radius: 20px;
}

body .wrapper .div-quality .under-container-text-div .design-text .design-text-div {
  padding: 0 40px;
  font-size: 14px;
}

@media (max-width: 750px) {
  body .wrapper .div-quality .under-container-text-div .design-text .design-text-div {
    display: none;
  }
}

body .wrapper .div-quality .under-container-text-div .sustentability-text {
  width: 31%;
  text-align: center;
}

body .wrapper .div-quality .under-container-text-div .sustentability-text h1 {
  padding-top: 20px;
  position: relative;
  margin-bottom: 30px;
  font-size: 11px;
}

body .wrapper .div-quality .under-container-text-div .sustentability-text h1:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 32px;
  height: 2px;
  background: #000000;
  left: calc(50% - 16px);
  border-radius: 20px;
}

body .wrapper .div-quality .under-container-text-div .sustentability-text .sustentability-text-div {
  padding: 0 40px;
  font-size: 14px;
}

@media (max-width: 750px) {
  body .wrapper .div-quality .under-container-text-div .sustentability-text .sustentability-text-div {
    display: none;
  }
}

body .wrapper .div-quality .text-button-final-portfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .div-quality .text-button-final-portfolio .text-call-to-button {
  padding: 46px 0 36px;
  font-size: 18px;
}

body .wrapper .div-quality .text-button-final-portfolio .button-itself {
  padding-bottom: 60px;
}

body .wrapper .div-quality .text-button-final-portfolio .button-itself button {
  width: 140px;
  height: 40px;
  background: #484b4d;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

body .wrapper .div-quality .text-button-final-portfolio .button-itself button:hover {
  background: #A9AEB3;
  color: #000000;
}

body .wrapper .end-quote-div {
  height: 200px;
  padding-top: 80px;
  width: 100%;
  background: #D9E0E6;
  text-align: center;
}

body .wrapper .end-quote-div .quote-h1 {
  position: relative;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

body .wrapper .end-quote-div h1:after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 3px;
  background: #000000;
  left: calc( 50% - 50px);
  border-radius: 20px;
}

body .wrapper .end-quote-div h1:before {
  content: "";
  position: absolute;
  top: -15px;
  width: 100px;
  height: 3px;
  background: #000000;
  left: calc( 50% - 50px);
  border-radius: 20px;
}

body .wrapper .end-quote-div h2 {
  font-size: 18px;
}

body .wrapper .footer-container {
  height: 150px;
  background: #A9AEB3;
}

body .wrapper .footer-container .container-about-contact-social-media {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 570px) {
  body .wrapper .footer-container .container-about-contact-social-media {
    font-size: 7px;
  }
}

body .wrapper .footer-container .container-about-contact-social-media .our-history-div {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .footer-container .container-about-contact-social-media .our-history-div h1 {
  position: relative;
  margin-bottom: 15px;
  font-size: 11px;
  display: block;
}

body .wrapper .footer-container .container-about-contact-social-media .our-history-div h1:after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 32px;
  height: 2px;
  background: #000000;
  left: 0;
  border-radius: 20px;
}

body .wrapper .footer-container .container-about-contact-social-media .our-history-div .our-history-text-div {
  font-size: 11px;
}

body .wrapper .footer-container .container-about-contact-social-media .contact-div {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .footer-container .container-about-contact-social-media .contact-div h1 {
  position: relative;
  margin-bottom: 15px;
  font-size: 11px;
  display: block;
}

body .wrapper .footer-container .container-about-contact-social-media .contact-div h1:after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 32px;
  height: 2px;
  background: #000000;
  left: 0;
  border-radius: 20px;
}

body .wrapper .footer-container .container-about-contact-social-media .contact-div .contact-text-div {
  font-size: 11px;
}

body .wrapper .footer-container .container-about-contact-social-media .social-media-divs {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .footer-container .container-about-contact-social-media .social-media-divs h1 {
  position: relative;
  margin-bottom: 15px;
  font-size: 11px;
  display: block;
}

body .wrapper .footer-container .container-about-contact-social-media .social-media-divs h1:after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 32px;
  height: 2px;
  background: #000000;
  left: 0;
  border-radius: 20px;
}

body .wrapper .footer-container .container-about-contact-social-media .social-media-divs .three-boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wrapper .footer-container .container-about-contact-social-media .social-media-divs .three-boxes .first-box {
  width: 30%;
  height: 30px;
  background: #000000;
}

body .wrapper .footer-container .container-about-contact-social-media .social-media-divs .three-boxes .second-box {
  width: 30%;
  height: 30px;
  background: #000000;
}

body .wrapper .footer-container .container-about-contact-social-media .social-media-divs .three-boxes .third-box {
  width: 30%;
  height: 30px;
  background: #000000;
}

body .wrapper .under-footer-strip {
  width: 100%;
  height: 40px;
  background: #7c7c7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .under-footer-strip p {
  color: white;
  font-size: 11px;
}
/*# sourceMappingURL=index.css.map */