/**

Antes de começar, leia:

- Responsivo (versão mobile) no final da página;
- 

**/

* {
  margin: 0;
  padding: 0;
}

/* css padrão */

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.4px;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.4px;
}

nav .container .menu-top a,
nav .container .menu-bottom a,
.section-introducao a,
.section-produtos a,
.section-portfolio a,
.section-qualidade a {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  line-height: 27px;
  color: black;
  display: block;
  width: 125px;
}

nav .container .menu-top a:hover,
nav .container .menu-bottom a:hover,
.section-introducao a:hover {
  color: white;
  border: solid 4px white;
}

.section-produtos a:hover {
  color: #fec63e;
  border: solid 4px #fec63e;
}

.section-portfolio a:hover {
  color: #ffffff;
  border: solid 4px #ffffff;
}

.section-qualidade a:hover {
  color: #fec63e;
  border: solid 4px #fec63e;
}
/* css padrão */

/* menu - logo - barra de navegação - responsivo - 420px */

nav {
  height: 220px;
  background: #fec63e;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

@media only screen and (min-width: 768px) {
  nav .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

nav .container .primeiro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  nav .container .primeiro-container {
    width: 166px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  nav .container .primeiro-container {
    width: 186px;
  }
}

nav .container .segundo-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  nav .container .segundo-container {
    padding: 0;
    width: 558px;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1024px) {
  nav .container .segundo-container {
    width: 786px;
  }
}

nav .container a img {
  width: 100px;
  display: block;
}

nav .container .menu-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav .container .menu-top a {
  width: 45%;
  display: block;
  border: solid 4px black;
}

@media only screen and (min-width:768px) {
  nav .container .menu-top {
    width: 200px;
    justify-content: space-evenly;
  }
  nav .container .menu-top a {
    border: none;
    width: 100px;
  }
}

nav .container .menu-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

nav .container .menu-bottom a {
  width: 45%;
  display: block;
  border: solid 4px black;
}

@media only screen and (min-width:768px) {
  nav .container .menu-bottom {
    padding: 0;
    width: 200px;
    justify-content: space-evenly;
  }
  nav .container .menu-bottom a {
    border: none;
    width: 100px;
  }
}

/* menu - logo - barra de navegação - responsivo - 420px */

/* section introdução */

.section-introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  /* vertical */
  text-align: center;
  color: #ebebeb;
}

@media only screen and (min-width: 768px) {
  .section-introducao {
    margin-top: 80px;
  }
}

.section-introducao .p-citacao-introducao {
  font-family: 'Raleway', sans-serif;
  padding: 20px 0;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.section-introducao .p-autor-introducao {
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 600;
  padding-bottom: 20px;
}

.section-introducao a {
  border: solid 4px #fec63e;
  color: #fec63e;
}

/* section introdução */

/* section produtos */

/* padrão */

.section-produtos {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-produtos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-produtos h1 {
  padding-bottom: 20px;
  display: block;
  line-height: 30px;
}

@media only screen and (max-width: 1023px) {

  .section-produtos h1 {
    padding: 0;
  }
  
}

.section-produtos p {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

@media only screen and (max-width: 1023px) {

  .section-produtos p {
    padding: 0;
  }

}

.section-produtos a {
  border: solid 4px black;
  color: black;
  margin-top: 20px;
}

/* padrão */

.section-produtos .container .box-5 {
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1024px) {
  .section-produtos .container .box-5 {
    height: 280px;
    flex-direction: row;
    justify-content: space-between;
  }

}

.section-produtos .container .box-5 .produtos {
  width: 290px;
  height: 280px;
}

.section-produtos .container .box-5 .produtos .div-icone {
  height: 65%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-produtos .container .box-5 .produtos .div-icone img {
  display: block;
}

.section-produtos .container .box-5 .produtos .div-descricao  {
  height: 35%;
  background: #fec63e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-produtos .container .box-5 .produtos .div-descricao h2 {
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.section-produtos .container .box-5 .produtos .div-descricao p {
  padding: 0 10px;
}

/* section produtos */

/* section portfólio */

/* section portfólio - PADRÃO */

.section-portfolio {
  width: 100%;
  background-color: #000000;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-portfolio h1 {
  color: #fec63e;
  display: block;
  line-height: 30px;
}

.section-portfolio a {
  border: solid 4px #fec63e;
  color: #fec63e;
  margin-top: 20px;
}

.section-portfolio p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-top: 20px;
}

/* section portfólio - PADRÃO */

.section-portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-portfolio .container .container-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-portfolio .container .portfolios {
  width: 290px;
  height: 280px;
  margin-top: 20px;
  background-color: #fec63e;
}

.section-portfolio .container .portfolio-1 {
  background: url("../img/produtos/passeio.jpg") no-repeat center;
}

.section-portfolio .container .portfolio-2 {
  background: url("../img/produtos/esporte.jpg") no-repeat center;
}

.section-portfolio .container .portfolio-3 {
  background: url("../img/produtos/retro.jpg") no-repeat center;
}

@media only screen and (min-width: 1024px) {
    .section-portfolio .container .container-box {
      flex-direction: row;
      justify-content: space-between;
    }
}

/* section portfólio */

/* section qualidade */

/* section qualidade - PADRÃO */

.section-qualidade {
  position: relative;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-qualidade h2 {
  color: #000000;
  display: block;
  line-height: 30px;
}

.section-qualidade a {
  border: solid 4px #000000;
  color: #000000;
  margin-top: 20px;
}

.section-qualidade p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}

/* section qualidade - PADRÃO */

.section-qualidade .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-qualidade .container .logo {
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #000000;
}

.section-qualidade .container .container-2-divs-com-bordas {
  display: none;
}

@media only screen and (min-width: 1023px) {

  .section-qualidade .container .container-2-divs-com-bordas {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 685px;
  }

  .section-qualidade .container .container-2-divs-com-bordas .div-com-borda {
    width: 50%;
    height: 105px;
  }

  .section-qualidade .container .container-2-divs-com-bordas .div-borda-esquerda, .section-qualidade .container .container-2-divs-com-bordas .div-borda-direita {
    border-top: #fec63e 3px solid;
    border-right: #fec63e 3px solid;
  }

  .section-qualidade .container .container-2-divs-com-bordas .div-borda-esquerda {
    border-left: #fec63e 3px solid;
  }

}

.section-qualidade .container-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .section-qualidade .container-box {
    flex-direction: row;
    justify-content: space-between;
  }
}

.section-qualidade .container .container-box .qualidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  background-color: #fec63e;
}

.section-qualidade .container .container-box .qualidade-1, .section-qualidade .container .container-box .qualidade-2 {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1023px) {
  .section-qualidade .container .container-box .qualidade-1, .section-qualidade .container .container-box .qualidade-2 {
    margin-bottom: 0;
  }
}

.section-qualidade .container .container-box h2 {
  width: 250px;
  padding: 20px 0;
}

.section-qualidade .container .container-box p {
  width: 250px;
  padding-bottom: 20px;
}

/* section qualidade */

/* section citação */

.section-citacao {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
}

.section-citacao .container p,
.section-citacao .container cite {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.section-citacao .container cite {
  display: block;
  padding-top: 20px;
  font-weight: bold;
}

/* section citação */

/* section contato */

.div-footer-info {
  width: 100%;
  padding: 40px 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  .div-footer-info {
    padding: 20px 0;
  }
}

.div-footer-info .container {
  align-items: flex-start;
}

@media only screen and (min-width: 972px) {
  .div-footer-info .container {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .div-footer-info .container {
    justify-content: space-between;
  }
  .div-footer-info .container .box-5, .div-footer-info .container .container-redes-sociais {
    width: 290px;
  }
  .div-footer-info .container .container-redes-sociais .box-5 {
    width: 80px;
    display: flex;
    justify-content: left;
  }
}

.div-footer-info h1 {
  color: #fec63e;
  display: block;
}

.div-footer-info p,
.div-footer-info ul li {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.div-footer-info p {
  padding: 20px 0;
}

@media only screen and (min-width: 1024px) {
  .div-footer-info p {
    padding-bottom: 0;
  }
}

.div-footer-info ul {
  padding: 15px 0;
}

.div-footer-info ul li {
  padding: 5px 0;
}

.div-footer-info .container .redes-sociais {
  margin-top: 10px;
  height: 100px;
}

@media only screen and (min-width: 1023px) {
  .div-footer-info .container .redes-sociais {
    margin-top: 0;
  }
}

.div-footer-info .container .redes-sociais h1 {
  padding-bottom: 30px;
}

.div-footer-info .container .redes-sociais .container-redes-sociais {
  display: flex;
  justify-content: space-around;
  /* horizontal */
  align-items: center;
  /* vertical */
}

@media only screen and (min-width: 1023px) {
  .div-footer-info .container .redes-sociais .container-redes-sociais {
    justify-content: left;
  }
}

/* section contato */

/* section copyright */

.div-footer-rodape {
  width: 100%;
  padding: 20px 0;
  background: #fec63e;
}

.div-footer-rodape p {
  width: 100%;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}

/* section copyright */


/* responsivo */

@media only screen and (min-width: 768px) {
  nav {
    height: 80px;
  }
  nav .box-5 a {
    height: 80px;
  }
  nav .container .box-5-menu {
    flex-direction: row;
  }
  nav .container .logo-container {
    padding-bottom: 0;
  }
  nav .container .box-5-menu .menu-bottom {
    padding-top: 0;
  }
}