section {
    width: 720px;
    height: 1000px;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
}

.flex {
    height: 20px;
    flex: 1;
    margin: 10px 10px;
    background-color: royalblue;
}